<!DOCTYPE html >
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Anotações</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <form action="/create" method="post">
    <input type="text" name="task" id="task" placeholder="Insira uma tarefa">
    <button type="submit" id="addButton">Adicionar</button>
  </form>
  
     <ul>
      <% taskList.forEach(task => {%>
        <li><%= task.task %> | <%=task.date.toLocaleDateString('pt-BR')+", "+ task.date.toLocaleTimeString('pt-BR') %></li>
      <% })%>
     </ul>
 
<script src="script.js"></script> 
</body>
</html>